.movie-card {
  min-width: 160px;
  max-width: 160px;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(25, 118, 210, 0.10);
  text-align: center;
  padding: 10px 8px 14px 8px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1.5px solid #e3eafc;
  margin-bottom: 2px;
  transition: box-shadow 0.22s, background 0.22s, transform 0.18s;
}

.movie-card:hover {
  box-shadow: 0 8px 32px rgba(25, 118, 210, 0.18), 0 2px 8px rgba(0,0,0,0.10);
  transform: scale(1.05);
  background: #c2cbd642;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
  aspect-ratio: 2/3;
  object-fit: cover;
  box-shadow: 0 1px 6px rgba(25, 118, 210, 0.06);
}

.movie-title {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}


.movie-meta {
  font-size: 0.92rem;
  color: #a39d9d;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.movie-card-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 6px;
}

.icon-btn {
  padding: 4px 4px;
  border-radius: 6px;
  border: none;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
  background: #e3f0ff;
  transition: background 0.18s;
}

.info-btn:hover { background: #77ade3; color: #fff; }
.like-btn:hover { background: #d99797; color: #fff; }
.remove-btn:hover { background: #e3a0a0; color: #fff; }